.search-icon {
  font-size: 15px;
  position: absolute;
  left: 10px;
  top: 9px;
  display: flex;
  align-items: center;
  color: #878a99;
}

.tblFilterBtn {
  border-radius: 6px;
  border: 1px solid #dbdee5;
  background-color: #ffffff;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  column-gap: 11px;
  color: #111928;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}
.filterCount {
  display: inline-block;
  min-width: 30px;
  height: 29px;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  line-height: 29px;
}
.tblFilterBtnSuccessActive{
  background-color: #04844b;
    color: #fff;
    border-color: #04844b;
}
.tblFilterBtnPendingActive{
  background-color: #e1b60c;
    color: #fff;
    border-color: #e1b60c;
}

.tblFilterBtnPendingActive .filterCount {
  background-color: #fff !important;
  color: #111 !important;
}
.tblFilterBtnSuccessActive .filterCount {
  background-color: #fff !important;
  color: #111 !important;
}
.tableinfo .primarybtn {
  border-radius: 6px;
  padding: 2px 10px;
}