<div class="container-fluid p-0">
    <header>
        <div class="align-items-center d-flex justify-content-between topbar">
            <div class="logo">
                <img style="width: 50px;margin-left: 10px;" src="assets/images/ProviderPassportLogo.svg" alt="">
            </div>
            <div class="profile-bx">
                <div class="profiledash">
                    <div class="dropdown">
                        <button class="btn userprofilebtn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="profile-bx">
                                <img src="assets/images/user-icon.svg" alt="" />
                            </div>
                            {{userName}} <i class="fa-solid fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu userDropdownmenu" aria-labelledby="dropdownMenuButton1">
                            <div class="bgfilterblur"></div>
                            <div class="userDropdownmenuinner">
                                <div class="userHeader">
                                    <div class="userProfile">
                                        <img src="assets/images/user-icon.svg" alt="" />
                                    </div>
                                </div>
                                <div class="userProfileInfo">
                                    <h3>{{userName}}</h3>
                                </div>
                                <!-- <div class="userProfileLink">
                                    <a [routerLink]="Route.HOME_USER_ROUTE" routerLinkActive="active"><i class="bi bi-gear"></i>  Settings</a>
                                </div> -->
                                <div class="userLogout">
                                    <a class="btn primarybtn userLogoutbtn pointer" (click)="logOut()">
                                        <i class="bi bi-arrow-bar-left"></i> Log out
                                    </a>
                                </div>
                               
                            </div>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navigation-bar d-flex">
            <div class="navigationitemsmain col-lg-6" >
                <a class="btn navigationitem" routerLinkActive="navActive" [routerLink]="Route.HOME_DASHBOARD_ROUTE">
                    Dashboard
                </a>
                <a class="btn navigationitem" routerLinkActive="navActive" [routerLink]="Route.HOME_CONFIGURATION_ROUTE">
                    Configuration
                </a>
                <a class="btn navigationitem" routerLinkActive="navActive" [routerLink]="Route.HOME_QUEUE_ROUTE">
                    Queue
                </a>
                <div class="dropdown">
                    <button class="btn navigationitem dropdown-toggle" [ngClass]="{'navActive': _router.url.includes('reports/')}" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Report
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                    
                    <ul class="navigationitemmenu dropdown-menu">
                        <li>
                            <a class="navigationmenuitem pointer" routerLinkActive="navActive" [routerLink]="Route.PROVIDER_REPORT">Provider Report</a>
                        </li>
                        <li>
                            <a class="navigationmenuitem pointer" routerLinkActive="navActive" [routerLink]="Route.FAILED_CONFIG_REPORT">Failed Config Report</a>
                        </li>
                        <li>
                            <a class="navigationmenuitem pointer" routerLinkActive="navActive" [routerLink]="Route.NO_CONFIG_FOUND_REPORT">No-Config Found Report</a>
                        </li>
                        <li>
                            <a class="navigationmenuitem pointer" routerLinkActive="navActive" [routerLink]="Route.TEST_REPORT">Test Report</a>
                        </li>
                        <li>
                            <a class="navigationmenuitem pointer" routerLinkActive="navActive" [routerLink]="Route.OCR_REPORT">OCR Report</a>
                        </li>
                        <li>
                            <a class="navigationmenuitem pointer" routerLinkActive="navActive" [routerLink]="Route.FOLLOW_UP_REPORT">Follow-up Report</a>
                        </li>
                        <li>
                            <a class="navigationmenuitem pointer" routerLinkActive="navActive" [routerLink]="Route.RE_FETCH_REPORT">Re-fetch License Report</a>
                        </li>
                        <li>
                            <a class="navigationmenuitem pointer" routerLinkActive="navActive" [routerLink]="Route.RPA_REPORT">RPA Report</a>
                        </li>
                        <li>
                            <a class="navigationmenuitem pointer" routerLinkActive="navActive" [routerLink]="Route.NPDB_REPORT">NPDB Report</a>
                        </li>
                        <li class="position-relative subMenuCard">
                            <a class="navigationmenuitem pointer" routerLinkActive="navActive" >Bulk action</a>
                            <div class="subMenu">
                                <ul class="p-0">
                                    <li>
                                        <a class="navigationmenuitem pointer" routerLinkActive="navActive" [routerLink]="Route.BULK_RERUN_MODULE">Re-run</a>
                                    </li>
                                    <li>
                                        <a class="navigationmenuitem pointer" routerLinkActive="navActive" [routerLink]="Route.SCHEDULER_MODULE">Scheduler</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <a class="btn navigationitem" routerLinkActive="navActive" routerLinkActive="navActive" [routerLink]="Route.RPA_MODULE">
                    RPA    
                </a>
            </div>

           <div class="navigationitemsmain col-lg-6 gap-4" style="padding-top: 2.4px;">

            <div class="col-lg-3">
                <angular2-multiselect *ngIf="!(_router.url.includes('reports/test-report') || _router.url.includes('reports/ocr-report')) &&  _router.url.includes('reports/')"
                id="multiSelect"
                name="multiSelect"
                [data]="dataList"
                [(ngModel)]="dataService.selectedOptions"
                [settings]="dropdownSettings"
                (ngModelChange)="onSelectionChange($event)">
              </angular2-multiselect>
          </div> 
          
            <div class="col-lg-8" >
                <div class="dateRangeFilter position-relative" style="margin-right: 20px;">
                    <input type="text" autocomplete="off" class="form-control" name="daterange" placeholder="Select Date Range" ngxDaterangepickerMd [opens]="'right'" [locale]="{applyLabel: 'Apply', format: 'MM-DD-YYYY'}" [(ngModel)]="dataService.selected" (ngModelChange)="selectDateFilter($event)">
                </div>
            </div>
           </div>
        </div>
    </header>
</div>
