.tableinfo .primarybtn {
  border-radius: 6px;
  padding: 2px 10px;
}

.text-muted {
  color: #5f5f5f;
}
.cmpletedRun {
  color: #01d174;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
}
.search-icon {
  font-size: 15px;
  position: absolute;
  left: 10px;
  top: 9px;
  display: flex;
  align-items: center;
  color: #878a99;
}
.tblFilterBtn {
  border-radius: 6px;
  border: 1px solid #dbdee5;
  background-color: #ffffff;
  padding: 4px 10px;
  display: flex;
  align-items: center;
  column-gap: 11px;
  color: #111928;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.filterCount {
  display: inline-block;
  width: 22px;
  height: 21px;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
}

.completeddialougModal {
  max-width: 600px;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #333;
}

.commentInnerbx {
  border-radius: 4px;
  border: 1px solid #cac5fe;
  background: #d6e3f7;
  padding: 10px 10px;
  min-height: 200px;
  margin-bottom: 10px;
}

.commentInnerbx p {
  color: #0d6efd;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.commentMainbx > span {
  color: #2d2d2d;
  font-size: 12px;
  display: block;
  text-align: right;
}
