<div class="main mt-4">
  <div class="container-fluid d-flex justify-content-center">
    <div class="dashboardArea">
      <div class="dashNav-paneinner">
        <form #rpaForm="ngForm" ngNativeValidate (ngSubmit)="saveRpaResponse()">
          <h4 class="border-bottom fs-6 fw-semibold pb-3 pt-2 mb-3">Upload RPA Attachment</h4>
          <div class="position-relative row">
            <div class="col-lg-6">
              <label class="mb-1">Log Id <sup class="text-danger">*</sup> </label>
              <input type="number" class="form-control" name="logId" placeholder="Enter log id" [(ngModel)]="logId" required>
            </div>
            <div class="col-lg-6">
              <label class="mb-1">Status <sup class="text-danger">*</sup> </label>
              <input type="text" class="form-control" name="status" placeholder="Enter status" maxlength="155" [(ngModel)]="status" required>
            </div>
          </div>
          <div class="fileUpload mt-3" [ngClass]="{'pe-none' : Constant.EMPTY_STRINGS.includes(logId)}">
            <label class="mb-1">Snapshot<sup class="text-danger">*</sup> </label>
            <div class="form-group mdlform mb-3 modal-body">
              <div>
                <div class="dropzone" single fileDragDrop (filesChangeEmiter)="onDrop($event)" *ngIf="!uploadingToggle && Constant.EMPTY_STRINGS.includes(fileName)">
                  <div class="dropzoneLabel">
                    <input type="file" name="file" id="file" accept= "image/*" (change)="onSelectFile($event)">
                    <label for="file" class="dropzoneLabelinner">
                      <div *ngIf="!uploadingToggle && Constant.EMPTY_STRINGS.includes(fileName)">
                        <i class="bi bi-cloud-upload"></i>
                        <p class="mb-0">
                          <span class="pointer">Browse</span> files to upload or drag and drop it here
                        </p>
                      </div>
                    </label>
                  </div>
                </div>
          
                <div class="dropzoneUploading" *ngIf="uploadingToggle">
                  <div class="Uploadingcounter position-relative" [ngClass]="{'Uploadingdone':!Constant.EMPTY_STRINGS.includes(fileName)}">
                    {{progress | number : '1.0-0'}}%
                  </div>
                  <p *ngIf="progress>=0 && progress<100">Fetching Data</p>
                  <p *ngIf="progress==100">Done</p>
                </div>
          
                <div class="uplodedIconbox" *ngIf="!uploadingToggle && !Constant.EMPTY_STRINGS.includes(fileName)">
                  <div class="uplodedIconinner position-relative">
                    <div class="uplodedIcon position-relative">
                      <i class="bi bi-file-earmark-text"></i>
                      <span class="pointer"><i class="bi bi-trash3" (click)="resetUpload()"></i></span>
                    </div>
                  </div>
                  <span>{{fileName}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end submitBtn">
            <button type="submit" class="btn primarybtn" name="submitbtn" [disabled]="Constant.EMPTY_STRINGS.includes(fileName) || saveRpaRespToggle">
              <span *ngIf="!saveRpaRespToggle">Submit</span> 
              <span *ngIf="saveRpaRespToggle">Saving </span> <i *ngIf="saveRpaRespToggle" class="spinner-border spinner-border-sm"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>