<app-header></app-header>
<!-- <a > <i class="bi bi-arrow-left"></i> Back </a> -->
<div class="main">
    <div class="container-fluid">

        <div class="dashboardArea">
            <div class="dashNav-paneinner">

                <div class="emptyNotif" *ngIf="!addStepToggle">
                        <div class="d-flex mb-3">
                            <div class="col-lg-3 px-2">
                                <div class="position-relative">
                                    <input class="form-control" placeholder="Search by lookup name" [(ngModel)]="configDatabaseHelper.search" (ngModelChange)="this.configSearch.next($event)">
                                  </div>
                            </div>
                            <div class="col-lg-3 px-2">
                                <div class="lookupSearchForm">
                                        <angular2-multiselect id="version" name="version" [data]="versionList" [settings]="dropdownSettingsVersion" [(ngModel)]="selectedVersion" (ngModelChange)="searchSelectVersion($event)" required>
                                        </angular2-multiselect>
                                </div>
                            </div>
                            <div class="col-lg-3 px-2">
                                <input type="text" autocomplete="off" class="form-control" name="daterange" placeholder="Select Date Range" ngxDaterangepickerMd [maxDate]="maxDate" [opens]="'right'" [locale]="{applyLabel: 'Apply', format: 'MM-DD-YYYY'}" [(ngModel)]="selected" (ngModelChange)="selectDateFilter($event)">
                                <!-- <input type="text" autocomplete="off" class="form-control" name="daterange" placeholder="Select Date Range" ngxDaterangepickerMd [maxDate]="maxDate" [opens]="'right'" [locale]="{applyLabel: 'Apply', format: 'MM-DD-YYYY', clearLabel: 'Clear', cancelLabel: 'Cancel'}" [(ngModel)]="selected" (ngModelChange)="selectDateFilter($event)" (clearClicked)="clearDateFilter()"> -->
                            </div>
                            <div class="col-lg-3 px-2 d-flex justify-content-end">
                                <button class="btn primarybtn" (click)="openLookupModal()">Create Configuration</button>
                            </div>
                                
                        </div>
                        <div class="dashNav-paneinner table-responsive">
                            <div class="empty-notific mt-4" *ngIf="!loadingConfiguration && configList.length == 0">
                                <div class="empty-notificinner text-center">
                                    <div class="empty-notificinnerimg">
                                        <img src="assets/images/nodocument.svg" alt="" style="width:30%">
                                    </div>
                                    <h5>No Configuration Found.</h5>
                                </div>
                            </div>
                        
                            <div class=" p-5" *ngIf="loadingConfiguration">
                                <app-circular-loader></app-circular-loader>
                            </div>
                            <div class="reportListing usertableinner no-wrap" *ngIf="!loadingConfiguration && configList.length > 0">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="tableDead" style="width: 5%;">
                                                <p class="mb-0 text-center">S No.</p>
                                            </th>
                                            <th class="tableDead" style="width: 15%;">
                                                <p class="mb-0">Lookup Name</p>
                                            </th>
                                            <th class="tableDead" style="width: 25%;">
                                                <p class="mb-0">Link</p>
                                            </th>
                                            <th style="width: 10%;">Version</th>
                                            <th style="width: 10%;">Added By</th>
                                            <th style="width: 10%;">Status</th>
                                            <th style="width: 10%;">Created Date</th>
                                            <th style="width: 10%;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let config of configList; let i = index">
                                            <td class="tableData">
                                                <p class="mb-0 text-center">{{ (configDatabaseHelper.currentPage -1) * 10 + (i+1) }}</p>
                                            </td>
                                            <td class="tableData ">
                                                <p class="mb-0 line-clamp">{{config.lookupName}}</p>
                                            </td>
                                            <td class="tableData lookupLiks">
                                                <p class="mb-0">{{config.lookupLink}}</p>
                                            </td>
                                            <td class="tableData lookupLiks">
                                                <p class="mb-0">{{config.version}}</p>
                                            </td>
                                            <td class="tableData text-center">
                                                <p class="mb-0">{{config.addedBy}}</p>
                                            </td>
                                            <td class="tableData text-center">
                                                <div class="col-lg-8 px-2">
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="configstatus" [checked]="config.configStatus == 'Active'" (click)="updateStatus(config.id)">
                                                        <label></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="tableData text-center">
                                                <p class="badge-grey mb-0">{{config.createdDate | date:'MM-dd-yyyy' : 'EST'}}</p>
                                            </td>
                                            <td class="tableData text-center">
                                                <span class="tbleditBtn"><i class="bi bi-pen" style="cursor: pointer;" (click)="openEditModel(config)"></i></span>
                                                <span class="tbldeleteBtn"><i class="bi bi-trash ms-2" style="cursor: pointer;" (click)="deleteConfiguration(config.id, i)"></i></span>
                                                <span class="tblreplicateBtn"><i class="bi bi-clipboard-plus ms-2" style="cursor: pointer;" (click)="replicateConfig(config.id)"></i></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row justify-content-center" *ngIf="configList.length>0 && !loadingConfiguration">  
                                <div class="paginationmain w-100 px-3 mt-2">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <p class="currentshowing mb-0">
                                            Showing <span>{{configList.length}}</span> of <span>{{totalConfiguration}}</span>  
                                        </p>
                                        <div class="d-flex justify-content-end">
                                            <ngb-pagination [collectionSize]="totalConfiguration" [rotate]="true" (pageChange)="configPageChanged($event)" [pageSize]="configDatabaseHelper.itemsPerPage" [(page)]="configDatabaseHelper.currentPage" [maxSize]="5" [boundaryLinks]="true">
                                            </ngb-pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- <app-configuration-listing></app-configuration-listing> -->
                </div>

                <div class="configMaininfo" *ngIf="addStepToggle">
                    <div class="row">

                        <div class="col-lg-6">
                            <h6>
                                <a [href]="lookupLink" target="_blank" rel="noopener noreferrer">Click </a> to view in next tab.
                            </h6>
                            <a class="d-none" #clickIframeButton (click)="loadSite($event)">{{setText}}</a>

                            <div class="position-relative">
                                <div class="loaderSpin"  *ngIf="loadingIframe">
                                    <div class="text-center">
                                        <div class="spinner-border text-primary" role="status"></div>
                                        <div>Loading...</div>
                                    </div>
                                </div>
                                <!-- <h6>
                                    <a [href]="lookupLink" target="_blank" rel="noopener noreferrer">Click </a> to view in next tab.
                                </h6> -->
                                <iframe style="width:100%; height:80vh;" [src]="src"  (load)="onLoad()"></iframe>

                            </div>
                        </div>
                        
                        <div class="col-lg-6 px-2 position-relative">
                            <div class="configSetupBox">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h3>New Configuration</h3>
                                    <button class="btn primaryBtn" (click)="openAddConfigModal()">Add Steps</button>
                                </div>
                                <div class="empty-notific" style="margin-top: 10%;" *ngIf="configurationStepList.length==0">
                                    <div class="empty-notificinner text-center">
                                        <div class="empty-notificinnerimg">
                                            <img src="assets/images/nodocument.svg" alt="" style="width:40%">
                                        </div>
                                        <h5>No Step Added.</h5>
                                        <div class="d-flex justify-content-center mt-4">
                                            <button class="btn primaryBtn" (click)="openAddConfigModal()">Add Steps</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="configStepsouter" *ngIf="configurationStepList.length>0">
                                   
                                    <div class="configStepsinner" cdkDropList (cdkDropListDropped)="drop($event)">
                                        <div class="configSteps example-box position-relative" cdkDrag *ngFor="let step of configurationStepList; let i = index">
                                            <span class="removeSteps" title="Remove Step" (click)="removeStep(i)"><i class="bi bi-dash-circle-fill"></i></span>
                                            <label class="me-2 text-center">Step {{i+1}}</label>
                                            <p>Crawler Attribute : {{step.crawlerAttribute}}, Lookup Element : {{step.lookUpElementDesc}}, Element Event : {{step.elementEvent}}, Entity Name : {{step.className}}, <span *ngIf="!Constant.EMPTY_STRINGS.includes(step.className) && step.className.toLowerCase()=='static'">Value : {{step.columnName}}</span> <span *ngIf=" (!Constant.EMPTY_STRINGS.includes(step.className) && step.className.toLowerCase()!='static') || Constant.EMPTY_STRINGS.includes(step.className)"> Column Name : {{step.columnName}}</span></p>
                                        </div>
                                    </div>

                                    <div class="configAction d-flex justify-content-end align-items-center">
                                        <button class="btn btn-secondary m-2" [disabled]="testingConfiguration || savingConfiguration" (click)="openUuidModal()">Test Configuration</button>
                                        <button class="btn primaryBtn" [disabled]="savingConfiguration" (click)="uuidSaveModal()">Save Configuration</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#configModal" #lookupModalButton>Launch Modal</button>
    <button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#addConfigStepModal" #addConfigStepModalButton>Launch Modal</button>
    <button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#uuidModal" #uuidModalButton>Launch Modal</button>
    <button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#saveUuidModal" #saveUuidModalButton>Launch Modal</button>
    <button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#appUpdateSubStructureModal" #appUpdateSubStructureModalButton>Launch Modal</button>
  
    <!-- select taxonomy modal -->
    <div class="modal fade" id="configModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-bs-labelledby="exampleModalLabel" aria-bs-hidden="true">
        <div class="modal-dialog configModal">
            <div class="modal-content">
                <form  #mapLookupTaxonomyForm="ngForm" ngNativeValidate (ngSubmit)="saveLookupDetailsAndToggleAddStep()" >
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Configuration</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-bs-label="Close" (click)="closeTaxonomyModal()">
                            <span aria-bs-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mldConfigurationmain">
                            <div class="mldConfigurationinner">
                                <div class="lookupSearch mb-1">
                                    <div class="row mb-1">
                                        <div class="col-lg-6 pr-0">
                                            <div class="lookupSearchForm">
                                                <div class="position-relative">
                                                    <label class="">Credily Version <sup class="text-danger">*</sup> </label>
                                                    <angular2-multiselect id="version" name="version" [data]="versionList" [settings]="dropdownSettingsVersion" [(ngModel)]="selectedVersion" (ngModelChange)="selectVersion($event)" required>
                                                    </angular2-multiselect>
                                                </div>
                                                <small *ngIf="mapLookupTaxonomyForm.submitted && Constant.EMPTY_STRINGS.includes(credilyVersion)" style="color: red;">Select Credily Version!</small>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="lookupSearchForm">
                                                <label>Configuration Name <sup class="text-danger">*</sup> </label>
                                                <div class="position-relative">
                                                    <input type="text" class="form-control" name="lname" placeholder="Enter Configuration Name" [(ngModel)]="lookupName" maxlength="155" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 ">
                                            <div class="lookupSearchForm">
                                                <div class="position-relative">
                                                    <label> Lookup Link <sup class="text-danger">*</sup> 
                                                        <span class="text-primary" *ngIf="!updateLinkToggle" (click)="switchUpdateLinkToggle()"><i class="bi bi-pen" style="cursor: pointer;"></i></span>
                                                    </label>
                                                    <div class="row mt-2" *ngIf="updateLinkToggle">
                                                        <div class="col-lg-12">
                                                            <div class="lookupSearchForm">
                                                                <label>Old Link <sup class="text-danger">*</sup> </label>
                                                                <div class="position-relative">
                                                                    <input type="text" class="form-control" name="oldLink" placeholder="Enter Old Link" [(ngModel)]="oldLink" maxlength="250" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="lookupSearchForm">
                                                                <label>New Link <sup class="text-danger">*</sup> </label>
                                                                <div class="position-relative">
                                                                    <input type="text" class="form-control" name="newLink" placeholder="Enter New Link" [(ngModel)]="newLink" maxlength="250" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="lookupSearchForm d-flex justify-content-end">
                                                                <button type="button" class="btn btn-secondary me-2" [disabled]="updatingLoader" (click)="switchUpdateLinkToggle()">Cancel</button>
                                                                <button type="button" class="btn primaryBtn" [disabled]="updatingLoader || Constant.EMPTY_STRINGS.includes(oldLink.trim()) || Constant.EMPTY_STRINGS.includes(newLink.trim())" (click)="updateLookupLink()">Update <i class="spinner-border spinner-border-sm" *ngIf="updatingLoader"></i></button>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="row" *ngIf="!updateLinkToggle">
                                                        <angular2-multiselect id="taxoLink" name="taxoLink" [data]="taxonomyLinkList" 
                                                        [settings]="dropdownSettingsTaxonomyLink" [(ngModel)]="selectedTaxonomyLink" 
                                                        (ngModelChange)="selectTaxonomyLink($event)" (keyup)="onSearchLink($event)" required>
                                                        </angular2-multiselect>
                                                    </div>
                                                </div>
                                                <small *ngIf="mapLookupTaxonomyForm.submitted && Constant.EMPTY_STRINGS.includes(lookupLink)" style="color: red;">Select Link!</small>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                                <div class="taxonomyCollapse">
                                    <div class="taxonomyCollapseInner">
                                        <div class="accordion" id="accordionExample">
                                            <div class="accordion-item">
                                              <div class="taxonomyaccHeader accordion-header" id="headingOne">
                                                <button class="taxonomyaccBtn accordion-button" [ngClass]="{'collapsed':!showTaxonomyListToggle}" type="button" (click)="showTaxonomyDiv()">
                                                    Taxonomy 
                                                </button>
                                              </div>
                                              <div id="collapseOne" class="taxonomyCollapse accordion-collapse collapse" [ngClass]="{'show':showTaxonomyListToggle}" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="usertableinner" >
                                                        <div class="lookupSearch lookupSearchbdr">

                                                            <div class="inlineTaxoform">
                                                                <div class="inlineTaxoformstate">
                                                                    <app-state-dropdown [_updatedStateName]="selectedStateName"
                                                                        [(stateNameProp)]="selectedStateName"
                                                                        [stateNameLabelClass]="'labelCls'" 
                                                                        [stateCodeLabelClass]="'labelCls'"
                                                                        [stateNameDynamic]="'State Name'" 
                                                                        [stateCodeDynamic]="'State Code'" 
                                                                        [stateNameClass]="'col-12 labelCls'" 
                                                                        [stateCodeClass]="'d-none'"
                                                                        [requiredClass]="'d-none'"
                                                                        [cityClass]="'d-none'" (callFunction)="selectStateName()">
                                                                    </app-state-dropdown>
                                                                </div>
                                                                <div class="inlineTaxoformsearch">
                                                                    <div class="position-relative">
                                                                        <i class="bi bi-search"></i>
                                                                        <input type="Text" class="form-control" name="searchTaxonomy" placeholder="Search Taxonomy" [(ngModel)]="databaseHelper.search" (keyup.enter)="searchTaxonomy()" >
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="mppedBtninner d-flex align-items-center">
                                                            <p class="mb-0 mppedBtn" [ngClass]="{'mpactive':type=='mapped'}" (click)="getMappedTaxonomy('mapped')">
                                                                Mapped
                                                            </p>
                                                            <p class="mb-0 mppedBtn" [ngClass]="{'mpactive':type != 'mapped'}" (click)="getMappedTaxonomy('unmapped')">
                                                                Unmapped
                                                            </p>
                                                        </div>
                                                        


                                                        <div class="reportListing" *ngIf="!loadingLookupTaxonomy && lookupTaxonomyList.length > 0" style="max-height: 250px;">
                                                            <table class="table table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="tableDead" style="width: 2%;">
                                                                            
                                                                        </th>
                                                                        <th class="tableDead" style="width: 18%;">
                                                                            <p class="mb-0">Code</p>
                                                                        </th>
                                                                        <th class="tableDead" style="width: 30%;">
                                                                            <p class="mb-0">State</p>
                                                                        </th>
                                                                        <th class="tableDead" style="width: 50%;">
                                                                            <p class="mb-0">Description</p>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let tax of lookupTaxonomyList; let i = index">
                                                                        <td class="tableData">
                                                                            <div class="text-ceter">
                                                                                <input type="checkbox" class="form-check" [checked]="tax.checked" (click)="selectTaxonomySingle(i)">
                                                                            </div>
                                                                        </td>
                                                                        <td class="tableData">
                                                                            <p class="mb-0">{{tax.code}}</p>
                                                                        </td>
                                                                        <td class="tableData">
                                                                            <p class="mb-0">{{tax.state}}</p>
                                                                        </td>
                                                                        <td class="tableData lookupLiks">
                                                                            <p class="mb-0">{{tax.displayName}}</p>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        
                                                    </div>
                    
                                                    <div class="empty-notific mt-4" *ngIf="!loadingLookupTaxonomy && lookupTaxonomyList.length == 0">
                                                        <div class="empty-notificinner text-center">
                                                            <div class="empty-notificinnerimg">
                                                                <img src="assets/images/nodocument.svg" alt="" style="width:40%">
                                                            </div>
                                                            <h5>No Taxonomy Found.</h5>
                                                        </div>
                                                    </div>
                    
                                                    <div class="p-5" *ngIf="loadingLookupTaxonomy">
                                                        <app-circular-loader></app-circular-loader>
                                                    </div>
                    
                                                    <div class="row justify-content-center" *ngIf="totalLookupTaxonomy>0 && !loadingLookupTaxonomy">  
                                                        <div class="paginationmain w-100 px-3 mt-2">
                                                            <div class="d-flex align-items-center justify-content-between">
                                                                <p class="currentshowing mb-0">
                                                                    Showing <span>{{lookupTaxonomyList.length}}</span> of <span>{{totalLookupTaxonomy}}</span>  
                                                                </p>
                                                                <div class="d-flex justify-content-end">
                                                                    <ngb-pagination [collectionSize]="totalLookupTaxonomy" [rotate]="true" (pageChange)="pageChanged($event)" [pageSize]="databaseHelper.itemsPerPage" [(page)]="databaseHelper.currentPage" [maxSize]="5" [boundaryLinks]="true">
                                                                    </ngb-pagination>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn primarycancelbtn" style="border-color: #F05252 !important;" 
                        data-bs-dismiss="modal" #closeTaxomonModalButton (click)="closeTaxonomyModal()">Close</button>
                        <button type="submit" class="btn primaryBtn" [disabled]="selectedTaxonomyIds.length==0 || mapLookupTaxonomyForm.invalid || updateLinkToggle">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- add configuration step modal -->
    <div class="modal fade" id="addConfigStepModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-bs-labelledby="stepModalLabel" aria-bs-hidden="true">
        <div class="modal-dialog configModal">
            <div class="modal-content">
                <form  #addStepForm="ngForm" ngNativeValidate (ngSubmit)="addConfigurationStep()" >
                    <div class="modal-header">
                        <h5 class="modal-title" id="stepModalLabel">Add Configuration Step</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-bs-label="Close" #closeAddStepModal >
                            <span aria-bs-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mldConfigurationmain">
                            <div class="mldConfigurationinner">
                                <div class="lookupSearch">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="lookupSearchForm">
                                                <div class="position-relative">
                                                    <label class="m-1">Crawler Attribute</label>
                                                    <angular2-multiselect id="attribute" name="attribute" [data]="attributeList" [settings]="dropdownSettingsAttribute" [(ngModel)]="selectedAttribute" (ngModelChange)="selectCrawlerAttribute($event)" required>
                                                    </angular2-multiselect>
                                                </div>
                                                <small *ngIf="addStepForm.submitted && addStepFormInvalid && cofigStepRequest.crawlerAttributeId<=0" style="color: red;">Select Crawler Attribute!</small>
                                            </div>
                                        </div>
                                        <div class="col-lg-6" *ngIf="cofigStepRequest.crawlerAttributeId == 17">
                                            <div class="lookupSearchForm">
                                                <div class="position-relative">
                                                    <label class="m-1">Custom Tag</label>
                                                    <input type="text" class="form-control" name="customTag" placeholder="Enter Custom Tag" [(ngModel)]="customTag" maxlength="155" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6" *ngIf="cofigStepRequest.crawlerAttributeId == 17">
                                            <div class="lookupSearchForm">
                                                <div class="position-relative">
                                                    <label class="m-1">Custom Attribute Name</label>
                                                    <input type="text" class="form-control" name="customAtt" placeholder="Enter Custom Attribute Name" [(ngModel)]="customAttribute" maxlength="155" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6" *ngIf="cofigStepRequest.crawlerAttributeId == 17">
                                            <div class="lookupSearchForm">
                                                <div class="position-relative">
                                                    <label class="m-1">Custom Value</label>
                                                    <input type="text" class="form-control" name="customValue" placeholder="Enter Custom Value" [(ngModel)]="customValue" maxlength="155" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6" *ngIf="!Constant.LOOKUP_HIDE.includes(cofigStepRequest.crawlerAttributeId) && cofigStepRequest.crawlerAttributeId != 19">
                                            <div class="lookupSearchForm">
                                                <div class="position-relative">
                                                    <label class="m-1">Lookup Element</label>
                                                    <input type="text" class="form-control" name="lElement" placeholder="Enter Lookup Element" [(ngModel)]="cofigStepRequest.lookUpElementDesc" maxlength="155" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6" *ngIf="!Constant.EVENT_HIDE.includes(cofigStepRequest.crawlerAttributeId)">
                                            <div class="lookupSearchForm">
                                                <div class="position-relative">
                                                    <label class="m-1" *ngIf="cofigStepRequest.crawlerAttributeId == 6 ">Delay Time</label>
                                                    <label class="m-1" *ngIf="cofigStepRequest.crawlerAttributeId != 6 ">Element Event</label>
                                                    <angular2-multiselect id="className" name="className" [data]="EventList" [settings]="dropdownSettingsEvent" [(ngModel)]="selectedEvent" (ngModelChange)="selectCrawlerEvent($event)" required>
                                                    </angular2-multiselect>
                                                </div>
                                                <small *ngIf="addStepForm.submitted && addStepFormInvalid && Constant.EMPTY_STRINGS.includes(cofigStepRequest.elementEvent)" style="color: red;">Select Event/Delay!</small>
                                            </div>
                                        </div>
                                        <div class="col-lg-6" *ngIf="!Constant.ENTITY_HIDE.includes(cofigStepRequest.crawlerAttributeId)">
                                            <div class="lookupSearchForm">
                                                <div class="position-relative">
                                                    <label class="m-1">Entity Name</label>
                                                    <angular2-multiselect id="entityName" name="entityName" [data]="classList" [settings]="dropdownSettingsClass" [(ngModel)]="selectedClass" (ngModelChange)="selectClassName($event)">
                                                    </angular2-multiselect>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6" *ngIf="!Constant.EMPTY_STRINGS.includes(cofigStepRequest.className) && cofigStepRequest.className.toLowerCase() == 'static'">
                                            <div class="lookupSearchForm">
                                                <div class="position-relative">
                                                    <label class="m-1">Column Name</label>
                                                    <input type="text" class="form-control" name="cName1" placeholder="Enter Column Name" [(ngModel)]="cofigStepRequest.columnName" maxlength="155" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn primaryBtn">Add Step</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- select UUID modal -->
    <div class="modal fade" id="uuidModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-bs-labelledby="uuidModalLabel" aria-bs-hidden="true">
        <div class="modal-dialog modal-ls">
            <div class="modal-content">
                <form  #providerUuidForm="ngForm" ngNativeValidate (ngSubmit)="testConfiguration()" >
                    <div class="modal-header">
                        <h5 class="modal-title" id="uuidModalLabel">New Configuration</h5>
                        <button type="button" class="close" [disabled]="testingConfiguration" data-bs-dismiss="modal" aria-bs-label="Close" #closeUuidModal (click)="isInvalidConfiguration=false; providerUuid = '' ">
                            <span aria-bs-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mldConfigurationmain">
                            <div class="mldConfigurationinner">
                                <div class="lookupSearch mb-1">
                                    <div class="row mb-1">
                                        <div class="col-lg-12 pr-0">
                                            <div class="lookupSearchForm">
                                                <label>Enter Provider Uuid</label>
                                                <div class="position-relative">
                                                    <input type="text" class="form-control" name="pUuid" placeholder="Enter Provider Uuid" [(ngModel)]="providerUuid" maxlength="155" required>
                                                </div>
                                            </div>
                                            <small *ngIf="isInvalidConfiguration" style="color: red;">Invalid Configuration!</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn primarycancelbtn" style="border-color: #F05252 !important;" [disabled]="testingConfiguration" data-bs-dismiss="modal" (click)=" isInvalidConfiguration=false; providerUuid = '' ">Close</button>
                        <button type="submit" class="btn primaryBtn" [disabled]="testingConfiguration">Submit <i class="spinner-border spinner-border-sm" *ngIf="testingConfiguration && !savingConfiguration"></i> </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- select column name modal -->
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="appUpdateSubStructureModal" tabindex="-1" aria-labelledby="appUpdateSubStructureModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btn-primary mt-2 me-0" (click)="openAddStepAndCloseColumn()">
                        <i class="ri-arrow-left-s-fill align-bottom"></i> back
                    </button>
                    <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #subStructureUpdateModalCloseButton id="subStructureUpdateModalCloseButton"></button>
                </div>
                <div class="modal-body pb-2">

                    <div class="card">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">Available Columns</h4>
                        </div>
                        <div class="card-body">

                            <div class="live-preview" style="max-height: 350px;overflow:scroll">
                                <div class="mb-5" *ngIf="loadingColumn">
                                    <app-circular-loader></app-circular-loader>
                                </div>
                                <div class="list-group" *ngIf="!loadingColumn">

                                    <span *ngIf="columns.length == 0" class="text-center">No data available <br>
                                        (Select Table from Dropdown)
                                    </span>

                                    <!-- Columns -->
                                    <button type="button" [ngClass]="{'selectColumn':columnObj.isSelected}" class="list-group-item text-start w-100" aria-current="true" *ngFor="let columnObj of columns;let i=index">
                                        <a href="javascript:void(0)" style="display: block;" (click)="selectTab(columnObj,i)" class="cursorPointer text-dark">{{i+1}}. {{columnObj.key}}</a>
                                        <div class="live-preview" style="margin-left: 30px;" *ngIf="indexedTab==i">
                                            <div class="list-group">

                                                <!-- nested column -->
                                                <div class="row" *ngFor="let valueObj of columnObj.values;let ii=index">
                                                    <div class="col-lg-12">
                                                        <button type="button" [ngClass]="{'selectColumnValue':valueObj.isSelected}" class="list-group-item text-start text-dark w-100"
                                                            aria-current="true">
                                                            <a href="javascript:void(0)" style="display: block;" (click)="selectNestedValue(i,ii,valueObj)" class="cursorPointer text-dark">{{i+1}}.{{ii+1}}. {{valueObj.key}}</a>

                                                            <!-- nested sub column -->
                                                            <div class="live-preview" style="margin-left: 30px;" *ngIf="subIndexedTab==ii">
                                                                <div class="list-group">
                    
                                                                    <div class="row" *ngFor="let subValueObj of valueObj.values;let iii=index">
                                                                        <div class="col-lg-12">
                                                                            <button type="button" [ngClass]="{'selectColumnValuesValue':subValueObj.isSelected}" class="list-group-item text-start text-dark w-100"
                                                                                aria-current="true">
                                                                                <a href="javascript:void(0)" style="display: block;" (click)="selectNestedSubValue(i,ii,iii,subValueObj)" class="cursorPointer text-dark">{{i+1}}.{{ii+1}}.{{iii+1}}. {{subValueObj.key}}</a>
                    
                                                                            </button>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </button>
                                    <!--  -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div>
                    <button style="float: right;" type="button" *ngIf="columns.length > 0" (click)="addCloumnNameObj()" class="m-2 btn btn-primary waves-effect waves-light">
                        <i class="ri-add-circle-line align-bottom me-2"></i>Submit
                    </button>
                </div>

            </div>
        </div>
    </div>

    <!--delete modal-->
    <button type="button" class="d-none" id="deleteModalButton" #deleteModalButton data-bs-toggle="modal" data-bs-target= "#deleteModal"></button>
    <div class="modal blur-bg-2" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="profilCreatemodal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <img src="assets/images/bin.png" style="width: 10%; margin-bottom: 15px" class="img-sm" />
                    <h4 class="modal-title w-100">Are you sure want to delete it?</h4>
                    <p></p>
                    <small class="pt-2 mt-2">
                        Configuration will be deleted permanently. Are you sure you want to delete this record?
                    </small>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" data-bs-dismiss="modal" class="btn btnmarkdelete" (click)="confirmDeleteConfiguration()">
                        Yes Delete It
                    </button>
                    <button type="button" class="btn btnmarkcancel" id="deleteModalCloseButton" #deleteModalCloseButton data-bs-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>  

    <!-- replicate congiguration modal -->
    <button type="button" class="d-none" id="replicateModalButton" #replicateModalButton data-bs-toggle="modal" data-bs-target= "#replicateModal"></button>
    <div class="modal blur-bg-2" id="replicateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="profilCreatemodal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="lookupSearchForm">
                        <div class="position-relative">
                            <label class="m-1">Credily Version <sup class="text-danger">*</sup> </label>
                            <angular2-multiselect id="version" name="version" [data]="versionList" [settings]="dropdownSettingsVersion" [(ngModel)]="selectedVersion" (ngModelChange)="selectVersion($event)" required>
                            </angular2-multiselect>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-primary" [disabled]="Constant.EMPTY_STRINGS.includes(credilyVersion) || replicatingConfig" (click)="replicateLookupConfig()">
                        Replicate <i class="spinner-border spinner-border-sm" *ngIf="replicatingConfig "></i>
                    </button>
                    <button type="button" class="btn btnmarkcancel" [disabled]="replicatingConfig" data-bs-dismiss="modal" #replicateModalCloseButton>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>  


    <!-- Save Provider Uuid Modal -->
    <div class="modal fade" id="saveUuidModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-bs-labelledby="uuidModalLabel" aria-bs-hidden="true">
        <div class="modal-dialog modal-ls">
            <div class="modal-content">
                <form  #providerUuidForm="ngForm" ngNativeValidate (ngSubmit)="saveConfiguration()" >
                    <div class="modal-header">
                        <h5 class="modal-title" id="saveUuidModalLabel">New Configuration</h5>
                        <button type="button" class="close" [disabled]="savingConfiguration" data-bs-dismiss="modal" aria-bs-label="Close" #closeSaveUuidModal (click)="isInvalidConfiguration=false; providerUuid = '' ">
                            <span aria-bs-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mldConfigurationmain">
                            <div class="mldConfigurationinner">
                                <div class="lookupSearch mb-1">
                                    <div class="row mb-1">
                                        <div class="col-lg-12 pr-0">
                                            <div class="lookupSearchForm">
                                                <label>Enter Provider Uuid</label>
                                                <div class="position-relative">
                                                    <input type="text" class="form-control" name="pUuid" placeholder="Enter Provider Uuid" [(ngModel)]="providerUuid" minlength="15" maxlength="155" required>
                                                </div>
                                            </div>
                                            <small *ngIf="isInvalidConfiguration" style="color: red;">Invalid Configuration!</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn primarycancelbtn" style="border-color: #F05252 !important;" [disabled]="savingConfiguration" data-bs-dismiss="modal" (click)=" isInvalidConfiguration=false; providerUuid = '' ">Close</button>
                        <button type="submit" class="btn primaryBtn" [disabled]="savingConfiguration">Submit <i class="spinner-border spinner-border-sm" *ngIf="!testingConfiguration && savingConfiguration"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>