<header>
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-lg-2 px-2">
                <div class="logo">
                    <img src="assets/images/logo-white.svg" alt="">
                </div>
            </div>
            
            <div class="col-lg-2 px-2">
                <div class="logOut">
                    <button (click)="logOut()" class="logOutbtn">
                        <i class="bi bi-power"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="main">
    <div class="container-fluid">
        <div class="dashboardArea">
            <nav>
                <div class="nav nav-tabs dashNav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-link dashNav-link active" id="nav-config-tab" data-toggle="tab" href="#nav-config" role="tab" aria-controls="nav-config" aria-selected="true">Configuration</a>
                  <a class="nav-link dashNav-link" id="nav-report-tab" data-toggle="tab" href="#nav-report" role="tab" aria-controls="nav-report" aria-selected="false">Report</a>
                  <a class="nav-link dashNav-link" id="nav-dashboard-tab" data-toggle="tab" href="#nav-dashboard" role="tab" aria-controls="nav-dashboard" aria-selected="false">Dasboard</a>
                </div>
              </nav>
              <div class="tab-content dashNav-content" id="nav-tabContent">
                <div class="tab-pane dashNav-pane show active" id="nav-config" role="tabpanel" aria-labelledby="nav-config-tab">
                    <div class="dashNav-paneinner">
                        <div class="emptyNotif">
                            <div class="emptyNotifinner">
                                <img src="assets/images/settings.png" alt="">
                                <button class="btn emptyBtn" data-toggle="modal" data-target="#configModal">Create Configurtaion</button>
                            </div>
                        </div>

                        <div class="configMaininfo">
                            <div class="row">
                                <div class="col-lg-6"></div>
                                <div class="col-lg-6 px-2 position-relative">
                                    <div class="configSetupBox">
                                        <h3>New Configuration</h3>

                                        <div class="configStepsouter">
                                            <div class="configStepsinner">
                                                <div class="configSteps">
                                                    <label>Step 1</label>
                                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, itaque.</p>
                                                </div>
                                                <div class="configSteps">
                                                    <label>Step 2</label>
                                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, itaque.</p>
                                                </div>
                                                <div class="configSteps">
                                                    <label>Step 3</label>
                                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, itaque.</p>
                                                </div>
                                                <div class="configSteps">
                                                    <label>Step 4</label>
                                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, itaque.</p>
                                                </div>
                                            </div>
                                            <button class="btn primaryBtn">Add Steps</button>

                                            <div class="configAction d-flex justify-content-end align-items-center">
                                                <button class="btn secondaryBtn mr-2">Test Configuration</button>
                                                <button class="btn primaryBtn">Save Configuration</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="addStepsModal">
                                        <div class="configSetupBox position-relative">
                                            <div class="closeStepsDiv">
                                                <button class="closeSteps"><i class="bi bi-x-lg"></i></button>
                                            </div>
                                            <h3>Add Configuration Step</h3>
    
                                            <div class="configStepsouter">
                                                
                                                <div class="configAction d-flex justify-content-end align-items-center">
                                                    <button class="btn primaryBtn">Add Steps</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane dashNav-pane" id="nav-report" role="tabpanel" aria-labelledby="nav-report-tab">
                    <div class="dashNav-paneinner">
                        Report
                    </div>
                </div>
                <div class="tab-pane dashNav-pane" id="nav-dashboard" role="tabpanel" aria-labelledby="nav-dashboard-tab">
                    <div class="dashNav-paneinner">
                        Dashboard
                    </div>
                </div>
              </div>
        </div>
    </div>



    <!--  -->
    <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#configModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="configModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog configModal">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Configuration</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="mldConfigurationmain">
            <div class="mldConfigurationinner">
                <div class="lookupSearch mb-3">
                    <div class="row m-0">
                        <div class="col-lg-6 px-0">
                            <div class="lookupSearchForm">
                                <div class="position-relative">
                                    <!-- <i class="bi bi-search"></i> -->
                                    <input type="text" class="form-control" placeholder="Enter Lookup Name">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reportListing">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="tableDead" style="width: 2%;">
                                    
                                </th>
                                <th class="tableDead" style="width: 5%;">
                                    <p class="mb-0 text-center">S No.</p>
                                </th>
                                <th class="tableDead" style="width: 15%;">
                                    <p class="mb-0">Lookup Name</p>
                                </th>
                                <th class="tableDead" style="width: 40%;">
                                    <p class="mb-0">Link</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let e of [].constructor(10); let i = index">
                                <td class="tableData">
                                    <div class="text-ceter">
                                        <input type="checkbox" class="form-check">
                                    </div>
                                </td>
                                <td class="tableData">
                                    <p class="mb-0 text-center">1</p>
                                </td>
                                <td class="tableData">
                                    <p class="mb-0">CDS</p>
                                </td>
                                <td class="tableData lookupLiks">
                                    <p class="mb-0">www.cds.com</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row justify-content-center">  
                    <div class="paginationmain w-100 px-3 mt-2">
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="currentshowing mb-0">
                                Showing <span>{{lookupTaxonomyList.length}}</span> of <span>{{totalLookupTaxonomy}}</span>  
                            </p>

                                <div class="d-flex justify-content-end">
                                    <ngb-pagination [collectionSize]="totalLookupTaxonomy" [rotate]="true" (pageChange)="pageChanged($event)" [pageSize]="databaseHelper.itemsPerPage" [(page)]="databaseHelper.currentPage" [maxSize]="5" [boundaryLinks]="true">
                                    </ngb-pagination>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>