<div class="dashNav-paneinner table-responsive">
    <div class="reportListing usertableinner no-wrap">
        <table class="table">
            <thead>
                <tr>
                    <th class="tableDead text-center" colspan="3">
                        <p class="mb-0">Configuration</p>
                    </th>
                    <th class="tableDead text-center"> 
                        <p class="mb-0">Added By</p>
                    </th>
                    <th class="tableDead text-center">
                        <p class="mb-0">Status</p>
                    </th>
                </tr>
                <tr>
                    <th class="tableDead" style="width: 5%;">
                        <p class="mb-0 text-center">S No.</p>
                    </th>
                    <th class="tableDead" style="width: 15%;">
                        <p class="mb-0">Lookup Name</p>
                    </th>
                    <th class="tableDead" style="width: 40%;">
                        <p class="mb-0">Link</p>
                    </th>
                    <th style="width: 20%;"></th>
                    <th style="width: 20%;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of [].constructor(10); let i = index">
                    <td class="tableData">
                        <p class="mb-0 text-center">1</p>
                    </td>
                    <td class="tableData">
                        <p class="mb-0">CDS</p>
                    </td>
                    <td class="tableData lookupLiks">
                        <p class="mb-0">www.cds.com</p>
                    </td>
                    <td class="tableData text-center">
                        <p class="mb-0">Param</p>
                    </td>
                    <td class="tableData text-center">
                        <p class="mb-0">Active</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>