<div class="main">
    <div class="container-fluid" >
        <div class="row">
            <div class="col-lg-12">
                <div class="pageTitle d-flex justify-content-between align-items-center">
                    <h3>Dashboard</h3>
                    <!-- <button type="button" class="btn primarybtn">Filter</button> -->
                    <div class="col-lg-4">
                        <div class="dateRangeFilter">
                            <input type="text" autocomplete="off" class="form-control" name="daterange" placeholder="Select Date Range" ngxDaterangepickerMd [showClearButton]="true" [opens]="'left'" [locale]="{applyLabel: 'Apply', format: 'MM-DD-YYYY'}" [(ngModel)]="selected" (ngModelChange)="selectDateFilter($event)">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <app-circular-loader *ngIf="v2TotalCountsLoadingToggle && v3TotalCountsLoadingToggle"></app-circular-loader>
        <div class="row" *ngIf="!v2TotalCountsLoadingToggle && !v3TotalCountsLoadingToggle">
            <div class="col-lg-6">
                <div class="dashChartCardmain">
                    <div class="dashChartCardinner">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 class="dashHeadTitle">V3</h3>
                            <p class="dashHeadCount">Total Provider Added <span>{{dashboardTotalCountsV3.totalProvidersAdded}}</span></p>                        
                        </div>
                        
                        <div class="dashChartCardbody mt-2">
                            <div class="dashChartCardbodyInner">
                                <div class="row mb-2 align-items-center">
                                    <div class="col-lg-1 px-2">
                                        <p class="mb-0 dashInfoTitle">License</p>
                                    </div>
                                    <div class="col-lg-11 px-2 pe-3">
                                        <div class="row customRow">
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard totalConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">Total<br>Configs</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV3.licenseTotalConfigs}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard cmpltConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">Completed<br>Configs</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV3.licenseCompletedConfig}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard notFndConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">No Configs<br>Found</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV3.licenseNoConfigFound}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard failedConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">Failed<br>Configs</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV3.licenseFailedConfig}} <i class="bi bi-arrow-right"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2">
                                                <button type="button" class="dashsmallBtn" style="background-color: #FFF1E0; color: #E08F2B;">
                                                    Re-run pending {{dashboardTotalCountsV3.licenseReRunPending}}
                                                </button>
                                                <button type="button" class="dashsmallBtn" style="background-color: #FEE4DF; color: #FE2C2C;">
                                                    Re-run Failed {{dashboardTotalCountsV3.licenseReRunFailed}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2 align-items-center">
                                    <div class="col-lg-1 px-2">
                                        <p class="mb-0 dashInfoTitle">Board</p>
                                    </div>
                                    <div class="col-lg-11 px-2 pe-3">
                                        <div class="row customRow">
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard totalConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">Total<br>Configs</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV3.boardTotalConfigs}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard cmpltConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">Completed<br>Configs</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV3.boardCompletedConfig}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard notFndConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">No Configs<br>Found</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV3.boardNoConfigFound}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard failedConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">Failed<br>Configs</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV3.boardFailedConfig}} <i class="bi bi-arrow-right"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2">
                                                <button type="button" class="dashsmallBtn" style="background-color: #FFF1E0; color: #E08F2B;">
                                                    Re-run pending {{dashboardTotalCountsV3.boardReRunPending}}
                                                </button>
                                                <button type="button" class="dashsmallBtn" style="background-color: #FEE4DF; color: #FE2C2C;">
                                                    Re-run Failed {{dashboardTotalCountsV3.boardReRunFailed}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2 align-items-center">
                                    <div class="col-lg-1 px-2">
                                        <p class="mb-0 dashInfoTitle">Common</p>
                                    </div>
                                    <div class="col-lg-11 px-2 pe-3">
                                        <div class="row customRow">
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard totalConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">Total<br>Configs</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV3.commonTotalConfigs}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard cmpltConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">Completed<br>Configs</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV3.commonCompletedConfig}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard notFndConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">No Configs<br>Found</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV3.commonNoConfigFound}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard failedConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">Failed<br>Configs</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV3.commonFailedConfig}} <i class="bi bi-arrow-right"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2">
                                                <button type="button" class="dashsmallBtn" style="background-color: #FFF1E0; color: #E08F2B;">
                                                    Re-run pending {{dashboardTotalCountsV3.commonReRunPending}}
                                                </button>
                                                <button type="button" class="dashsmallBtn" style="background-color: #FEE4DF; color: #FE2C2C;">
                                                    Re-run Failed {{dashboardTotalCountsV3.commonReRunFailed}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="dashChartCardmain">
                    <div class="dashChartCardinner">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 class="dashHeadTitle">V2</h3>
                            <p class="dashHeadCount">Total Provider Added <span>{{dashboardTotalCountsV2.totalProvidersAdded}}</span></p>                        
                        </div>
                        
                        <div class="dashChartCardbody mt-2">
                            <div class="dashChartCardbodyInner">
                                <div class="row mb-2 align-items-center">
                                    <div class="col-lg-1 px-2">
                                        <p class="mb-0 dashInfoTitle">License</p>
                                    </div>
                                    <div class="col-lg-11 px-2 pe-3">
                                        <div class="row customRow">
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard totalConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">Total<br>Configs</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV2.licenseTotalConfigs}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard cmpltConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">Completed<br>Configs</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV2.licenseCompletedConfig}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard notFndConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">No Configs<br>Found</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV2.licenseNoConfigFound}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard failedConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">Failed<br>Configs</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV2.licenseFailedConfig}} <i class="bi bi-arrow-right"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2">
                                                <button type="button" class="dashsmallBtn" style="background-color: #FFF1E0; color: #E08F2B;">
                                                    Re-run pending {{dashboardTotalCountsV2.licenseReRunPending}}
                                                </button>
                                                <button type="button" class="dashsmallBtn" style="background-color: #FEE4DF; color: #FE2C2C;">
                                                    Re-run Failed {{dashboardTotalCountsV2.licenseReRunFailed}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2 align-items-center">
                                    <div class="col-lg-1 px-2">
                                        <p class="mb-0 dashInfoTitle">Board</p>
                                    </div>
                                    <div class="col-lg-11 px-2 pe-3">
                                        <div class="row customRow">
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard totalConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">Total<br>Configs</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV2.boardTotalConfigs}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard cmpltConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">Completed<br>Configs</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV2.boardCompletedConfig}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard notFndConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">No Configs<br>Found</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV2.boardNoConfigFound}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard failedConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">Failed<br>Configs</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV2.boardFailedConfig}} <i class="bi bi-arrow-right"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2">
                                                <button type="button" class="dashsmallBtn" style="background-color: #FFF1E0; color: #E08F2B;">
                                                    Re-run pending {{dashboardTotalCountsV2.boardReRunPending}}
                                                </button>
                                                <button type="button" class="dashsmallBtn" style="background-color: #FEE4DF; color: #FE2C2C;">
                                                    Re-run Failed {{dashboardTotalCountsV2.boardReRunFailed}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2 align-items-center">
                                    <div class="col-lg-1 px-2">
                                        <p class="mb-0 dashInfoTitle">Common</p>
                                    </div>
                                    <div class="col-lg-11 px-2 pe-3">
                                        <div class="row customRow">
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard totalConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">Total<br>Configs</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV2.commonTotalConfigs}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard cmpltConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">Completed<br>Configs</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV2.commonCompletedConfig}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard notFndConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">No Configs<br>Found</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV2.commonNoConfigFound}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2 pe-0">
                                                <div class="dashInfoCard failedConfig">
                                                    <div class="dashInfoInner">
                                                        <p class="dashInfoLabel mb-0">Failed<br>Configs</p>
                                                        <span class="dashInfoCount">{{dashboardTotalCountsV2.commonFailedConfig}} <i class="bi bi-arrow-right"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 px-2">
                                                <button type="button" class="dashsmallBtn" style="background-color: #FFF1E0; color: #E08F2B;">
                                                    Re-run pending {{dashboardTotalCountsV2.boardReRunPending}}
                                                </button>
                                                <button type="button" class="dashsmallBtn" style="background-color: #FEE4DF; color: #FE2C2C;">
                                                    Re-run Failed {{dashboardTotalCountsV2.boardReRunFailed}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="dashChartCardmain">
                    <div class="dashChartCardinner">
                        <h3>V3 (Most Failed Configs)</h3>
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="pills-licenseThree-tab" data-bs-toggle="pill" data-bs-target="#pills-licenseThree" type="button" role="tab" aria-controls="pills-licenseThree" aria-selected="true" (click)="getConfigDataV3('License Lookup')">License</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="pills-boardThree-tab" data-bs-toggle="pill" data-bs-target="#pills-licenseThree" type="button" role="tab" aria-controls="pills-boardThree" aria-selected="false" (click)="getConfigDataV3('Board Certification')">Board</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="pills-CommonThree-tab" data-bs-toggle="pill" data-bs-target="#pills-licenseThree" type="button" role="tab" aria-controls="pills-CommonThree" aria-selected="false" (click)="getConfigDataV3('Common')">Common</button>
                            </li>
                          </ul>
                          <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-licenseThree" role="tabpanel" aria-labelledby="pills-licenseThree-tab">
                                <app-circular-loader *ngIf="v3ConfigLoadingToggle"></app-circular-loader>
                                <div class="dashCharttables" >
                                    <div class="table-responsive" *ngIf="!v3ConfigLoadingToggle && dashboardV3ConfigDataList.length>0">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th style="width: 40%;">Board Name</th>
                                                    <th style="width: 22%;">Config</th>
                                                    <th style="width: 10%;" class="text-center">Number</th>
                                                    <th style="width: 22%;" class="text-center">State</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let obj of dashboardV3ConfigDataList; let i = index">
                                                    <td>
                                                        <div class="tableInfo">
                                                            {{obj.lookupName}}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="tableInfo tableInfowrap">
                                                            <p class="mb-0 pointer">
                                                                <a [href]="obj.lookupLink" target="_blank" class="text-primary ms-1"><i class="bi bi-box-arrow-up-right"></i></a>
                                                            </p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="tableInfo text-center">
                                                            {{obj.count}}
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="tableInfo">
                                                            {{obj.taxState?obj.taxState:'N/A'}}
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="empty-notific mt-3" *ngIf="dashboardV3ConfigDataList.length == 0 && !v3ConfigLoadingToggle">
                                        <div class="empty-notificinner" >
                                            <div class="empty-notificinnerimg">
                                                <img src="assets/images/allexpirable.svg" alt=""
                                                    style="margin-left:27%; width:30%">
                                            </div>
                                            <h6 class="mt-2 text-muted" style="margin-left: 38%;">No data found</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="paginationmain" *ngIf="dashboardV3ConfigDataList.length>0 && !v3ConfigLoadingToggle"> 
                                    <div class="d-flex align-items-center justify-content-between">
                                       <p class="currentshowing mb-0">
                                         Showing <span>{{dashboardV3ConfigDataList.length}}</span> of <span>{{dashboardCountDataV3}}</span>
                                       </p>
                                       <div class="col-lg-6">
                                            <div class="card-body d-flex justify-content-end">
                                                <ngb-pagination class="pagination pagination-separated justify-content-sm-end mb-sm-0"
                                                [collectionSize]="dashboardCountDataV3" [rotate]="true" (pageChange)="pageChangedforV3($event)"
                                                [pageSize]="v3DatabaseHelper.itemsPerPage" [(page)]="v3DatabaseHelper.currentPage" [maxSize]="5"
                                                [boundaryLinks]="true">
                                                </ngb-pagination>
                                            </div>
                                       </div>
                                    </div> 
                                </div>
                               
                            </div>
                          </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="dashChartCardmain">
                    <div class="dashChartCardinner">
                        <h3>V2 (Most Failed Configs)</h3>
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="pills-licenseFour-tab" data-bs-toggle="pill" data-bs-target="#pills-licenseFour" type="button" role="tab" aria-controls="pills-licenseFour" aria-selected="true" (click)="getConfigDataV2('License Lookup')">License</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="pills-boardFour-tab" data-bs-toggle="pill" data-bs-target="#pills-licenseFour" type="button" role="tab" aria-controls="pills-boardFour" aria-selected="false" (click)="getConfigDataV2('Board Certification')">Board</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="pills-CommonFive-tab" data-bs-toggle="pill" data-bs-target="#pills-licenseFour" type="button" role="tab" aria-controls="pills-CommonFive" aria-selected="false" (click)="getConfigDataV2('Common')">Common</button>
                            </li>
                          </ul>
                          <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-licenseFour" role="tabpanel" aria-labelledby="pills-licenseFour-tab">
                                <app-circular-loader *ngIf="v2ConfigLoadingToggle"></app-circular-loader>
                                <div class="dashCharttables">
                                    <div class="table-responsive" *ngIf="!v2ConfigLoadingToggle && dashboardV2ConfigDataList.length>0">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th style="width: 40%;">Board Name</th>
                                                    <th style="width: 22%;">Config</th>
                                                    <th style="width: 10%;" class="text-center">Number</th>
                                                    <th style="width: 22%;" class="text-center">State</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let obj of dashboardV2ConfigDataList; let i = index">
                                                    <td>
                                                        <div class="tableInfo">
                                                            {{obj.lookupName}}
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="tableInfo tableInfowrap">
                                                            <p class="mb-0 pointer">
                                                                <a  [href]="obj.lookupLink" target="_blank" class="text-primary ms-1"><i class="bi bi-box-arrow-up-right"></i></a>
                                                            </p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="tableInfo text-center">
                                                            {{obj.count}}
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="tableInfo">
                                                            {{obj.taxState?obj.taxState:'N/A'}}
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="empty-notific mt-3" *ngIf="dashboardV2ConfigDataList.length == 0 && !v2ConfigLoadingToggle">
                                        <div class="empty-notificinner" >
                                            <div class="empty-notificinnerimg">
                                                <img src="assets/images/allexpirable.svg" alt=""
                                                    style="margin-left:27%; width:30%">
                                            </div>
                                            <h6 class="mt-2 text-muted" style="margin-left: 38%;">No data found</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="paginationmain" *ngIf="dashboardV2ConfigDataList.length>0 && !v2ConfigLoadingToggle"> 
                                    <div class="d-flex align-items-center justify-content-between">
                                       <p class="currentshowing mb-0">
                                         Showing <span>{{dashboardV2ConfigDataList.length}}</span> of <span>{{dashboardCountDataV2}}</span>
                                       </p>
                                       <div class="col-lg-6">
                                            <div class="card-body d-flex justify-content-end">
                                                <ngb-pagination class="pagination pagination-separated justify-content-sm-end mb-sm-0"
                                                [collectionSize]="dashboardCountDataV2" [rotate]="true" (pageChange)="pageChanged($event)"
                                                [pageSize]="V2DatabaseHelper.itemsPerPage" [(page)]="V2DatabaseHelper.currentPage" [maxSize]="5"
                                                [boundaryLinks]="true">
                                                </ngb-pagination>
                                            </div>
                                       </div>
                                    </div> 
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
