/* You can add global styles to this file, and also import other style files */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 14px;
  color: #444;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
}
.primaryBtn {
  background: #0070d2 !important;
  border-radius: 4px;
  box-shadow: none;
  color: #ffffff !important;
  padding: 6px 13px;
  display: flex;
  grid-gap: 8px;
  gap: 8px;
  align-items: center;
}
.secondaryBtn {
  background-color: #cccccc;
  font-size: 14px;
  color: #444 !important;
  font-weight: 400;
  box-shadow: none !important;
}
.form-control {
  font-size: 14px;
  padding: 20px 10px;
  letter-spacing: 0.3px;
  font-weight: 400;
  box-shadow: none !important;
}
.form-control:focus {
  color: #232323;
  border-color: #42bebe;
}
.pagination {
  margin-bottom: 0px;
}
.page-link {
  color: #444;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #42bebe !important;
  border-color: #42bebe !important;
}
.mdlform .form-control {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #000;
  height: 36px;
  box-shadow: none !important;
  background: #f9fafb;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}
.usrtblesearch i svg {
  display: inline-block;
  height: 14px;
  position: relative;
  top: -2px;
}
.primarybtn {
  background: #0070d2 !important;
  border-radius: 4px;
  box-shadow: none;
  color: #ffffff !important;
  padding: 6px 13px;
  display: flex;
  grid-gap: 8px;
  gap: 8px;
  align-items: center;
}
.btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}