/* You can add global styles to this file, and also import other style files */

@import "~angular2-multiselect-dropdown/themes/default.theme.css";

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 14px;
  color: #444;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
}

.pointer {
  cursor: pointer !important;
}
a {
  text-decoration: none;
}
.primaryBtn {
  background: #0070d2 !important;
  border-radius: 4px;
  box-shadow: none;
  color: #ffffff !important;
  padding: 6px 13px;
  display: flex;
  grid-gap: 8px;
  gap: 8px;
  align-items: center;
}
ul li,
ol li {
  list-style: none;
}
.secondaryBtn {
  background-color: #cccccc;
  font-size: 14px;
  color: #444 !important;
  font-weight: 400;
  box-shadow: none !important;
}
/* .form-control {
  font-size: 14px;
  padding: 20px 10px;
  letter-spacing: 0.3px;
  font-weight: 400;
  box-shadow: none !important;
} */
/* .form-control:focus {
  color: #232323;
  border-color: #42bebe;
} */
.pagination {
  margin-bottom: 0px;
}
.page-link {
  color: #444;
  font-size: 12px;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #0070d2 !important;
  border-color: #0070d2 !important;
}
.mdlform .form-control,
.form-control {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #000;
  height: 36px;
  box-shadow: none !important;
  background: #f9fafb;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}
.usrtblesearch i svg {
  display: inline-block;
  height: 14px;
  position: relative;
  top: -2px;
}
.primarybtn {
  background: #0070d2 !important;
  border-radius: 4px;
  box-shadow: none;
  color: #ffffff !important;
  padding: 6px 13px;
  display: flex;
  grid-gap: 8px;
  gap: 8px;
  align-items: center;
}
.primarycancelbtn {
  background: #ffffff;
  border: 1px solid #dddbda !important;
  border-radius: 4px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #c23934 !important;
  padding: 6px 16px;
}
.btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}
.c-btn {
  min-height: 36px !important;
  font-weight: 400;
  font-size: 12px !important;
  line-height: 20px !important;
  color: #000 !important;
  height: 36px;
  box-shadow: none !important;
  background: #f9fafb;
  border: 1px solid #d1d5db;
  border-radius: 4px !important;
  overflow-x: auto !important;
}
.close {
  background-color: transparent !important;
  border: none;
  padding: 0;
  line-height: 0;
  font-size: 22px;
}
.blur-bg-2,
.modal {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
.modal-content {
  border-radius: 12px;
}
.modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #3d3d3d;
}
.pr-0 {
  padding-right: 0;
}
.pl-0 {
  padding-left: 0;
}

.form-group label,
.lookupSearchForm label {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin-bottom: 5px;
}

.usertableinner thead {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.usertableinner .table th,
.usertableinner .table td {
  vertical-align: middle;
  padding: 7px 7px !important;
}
.usertableinner .table th {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #333;
  /* box-shadow: 0px 2px 0px #dddbda; */
  border-top: 0px;
  border: none;
  /* padding: 12px 12px; */
  background-color: #fbfbfb;
  /* box-shadow: 0px 2px 0px #dddbda; */
}

.usertableinner tbody {
  border: 10x solid #f0f0f0;
  border-top: 0;
}
.usertableinner .table td {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #3e3e3c;
  border-bottom: 1px solid #eee;
}

.sr-only {
  display: none !important;
}

.currentshowing {
  font-size: 12px;
  font-weight: 500;
}
.tbleditBtn {
  color: #0e9f6e;
  margin-right: 5px;
  cursor: pointer;
}
.tbldeleteBtn {
  color: #f05252;
  margin-right: 5px;
  cursor: pointer;
}
.tblreplicateBtn {
  color: #0070d2;
  margin-right: 5px;
  cursor: pointer;
}

.customswitch label {
  display: inline-block;
  background-color: #b3b3b3;
  height: 20px;
  width: 40px;
  border-radius: 40px;
  transition: 0.2s linear;
}

.customswitch label span {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.2s linear;
  position: relative;
  top: 2px;
  left: 2px;
}
.customswitch input[type="checkbox"]:checked ~ label {
  background-color: #0070d2;
}
.customswitch input[type="checkbox"]:checked ~ label span {
  left: 22px;
}
.statusactive {
  display: inline-block;
  background-color: #def7ec;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #03543f;
  padding: 3px 14px;
}
.statusinactive {
  display: inline-block;
  background-color: #f7dede;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #810606;
  padding: 4px 6px;
}
.statuspending {
  display: inline-block;
  background-color: #fff3c3;
  border-radius: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  color: #ffc107;
  padding: 3px 14px;
}
.selected-list .c-angle-down,
.selected-list .c-angle-up {
  top: 40% !important;
}
label.form-label.labelCls {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #111928;
  margin-bottom: 9px;
}
.dropdown-list.tagToBody {
  position: absolute !important;
  left: 0 !important;
  top: 40px !important;
}
.tlbctnbtnsinner p {
  padding: 5px 10px 5px;
  background: #04844b;
  border-radius: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
}

.tlbctnbtnsinner p {
  padding: 5px 10px 5px;
  background: #04844b;
  border-radius: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  grid-gap: 10px;
  gap: 10px;
}
.bg-success {
  background-color: #04844b !important;
}
.bg-warning {
  background-color: #ffff00 !important;
  /* background-color: #ffb75d !important; */
}
.bg-failed{
  background-color: #FF0000 !important;
}
.inlineTaxoformstate app-state-dropdown .selected-list .c-btn {
  border-radius: 4px 0px 0px 4px !important;
}
.md-drppicker .btn.btn-default > svg {
  display: none !important;
}
.md-drppicker .btn.btn-default {
  padding: 0 15px !important;
}

.logTooltip .tooltip-inner {
  background-color: #444;
  font-size: 12px;
}

.badge-grey,
.npi-badge {
  background: #f3f4f6;
}

.npi-badge {
  display: inline-block;
  padding: 2px 8px;
  color: #111928;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 120px;
  width: fit-content;
  text-align: center;
  border-radius: 6px;
}
.statusPending {
  background-color: #fff3c3;
  color: #ffa800;
}
.statusSuccesful {
  background-color: #effaf0;
  color: #04844b;
}
.statusFailed {
  background-color: #fef3f3;
  color: #e74c2b;
}
.textClamp {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 220px;
}
